# IR Dataset (Quasar-t and Quasar-s) Preparation and Preprocessing

_____________CREDIT FOR DATASET_______________

@article {dhingra2017quasar,
  title={Quasar: Datasets for Question Answering by Search and Reading},
  author={Dhingra, Bhuwan and Mazaitis, Kathryn and Cohen, William W},
  journal={arXiv preprint arXiv:1707.03904},
  year={2017}
}

## Importing Pandas and Numpy for basic preprocessing, cleaning, and pickling

In [38]:
import pandas as pd
import numpy as np
import json

## Data Preparation

 ### Quasar-t dataset is comprised of questions and answer pairs from popular trivia websites with context retrieved through various wiki articles

In [2]:
quasar_t_train = ['train_questions_qt.json', 'train_contexts_qt_short.json', 'train_contexts_qt_long.json']
quasar_t_dev = ['dev_questions_qt.json', 'dev_contexts_qt_short.json', 'dev_contexts_qt_short.json']
quasar_t_test = ['test_questions_qt.json', 'test_contexts_qt_short.json', 'test_contexts_qt_long.json']

### Quasar-s dataset is comprised of questions and answer pairs from stack overflow with context from the most upvoted answers

In [7]:
quasar_s_train = ['train_questions_qs.json', 'train_contexts_qs_short.json', 'train_contexts_qs_long.json']
quasar_s_dev = ['dev_questions_qs.json', 'dev_contexts_qs_short.json', 'dev_contexts_qs_long.json']
quasar_s_test = ['test_questions_qs.json', 'test_contexts_qs_short.json', 'test_contexts_qs_long.json']

### Creating Dataframes from JSON files for Train, Dev, and Test sets accordingly

side note: I've had a nightmare working with this dataset, it has crashed my computer like 30x by now, as my hardware is not very powerful :/ have had to do a lot of research into memory usage workarounds which turned into the verbose solutions you see below

#### Quasar-t

Using a JSON Reader object and then iterating through the chunked files and appending them to a list and then concatinating them together to create a unified dataframe

#### quasar-t train[01] is from quasar-s, got to fix that

In [37]:
#chunk_value = 6000
#quasar_t_train_c_s_dfs = []

#for i in quasar_t_train:
    #quasar_t_train_c_s_dfs_temp = pd.read_json(quasar_t_train[1], typ = 'frame', dtype = 'dict', lines=True, chunksize=chunk_value)
    #for chunk in quasar_t_train_c_s_dfs_temp:
        #quasar_t_train_c_s_dfs.append(chunk)
        
#quasar_t_train_c_s = pd.concat(quasar_t_train_c_s_dfs, ignore_index=True)

pd.read_json approaches

In [9]:
#quasar_t_train_q = pd.read_json(quasar_t_train[0], lines = True) 
#quasar_t_train_c_s = pd.read_json(quasar_t_train[1], lines = True) 
#quasar_t_train_c_l = pd.read_json(quasar_t_train[2], lines = True)

In [31]:
#quasar_t_dev_q = pd.read_json(quasar_t_dev[0], lines = True) 
#quasar_t_dev_c_s = pd.read_json(quasar_t_dev[1], lines = True) 
quasar_t_dev_c_l = pd.read_json(quasar_t_dev[2], lines = True)

In [4]:
quasar_t_test_q = pd.read_json(quasar_t_test[0], lines = True) 
quasar_t_test_c_s = pd.read_json(quasar_t_test[1], lines = True) 
quasar_t_test_c_l = pd.read_json(quasar_t_test[2], lines = True)

#### Quasar-s

In [19]:
#quasar_s_train_q = pd.read_json(quasar_s_train[0], lines = True) 
#quasar_s_train_c_s = pd.read_json(quasar_s_train[1], lines = True) 
#quasar_s_train_c_l = pd.read_json(quasar_s_train[2], lines = True)

In [8]:
quasar_s_dev_q = pd.read_json(quasar_s_dev[0], lines = True) 
quasar_s_dev_c_s = pd.read_json(quasar_s_dev[1], lines = True) 
quasar_s_dev_c_l = pd.read_json(quasar_s_dev[2], lines = True)

In [9]:
quasar_s_test_q = pd.read_json(quasar_s_test[0], lines = True) 
quasar_s_test_c_s = pd.read_json(quasar_s_test[1], lines = True) 
quasar_s_test_c_l = pd.read_json(quasar_s_test[2], lines = True)

### Merging various datasets into combined dataframes

In [13]:
quasar_t_dev_dfs = [quasar_t_dev_q, quasar_t_dev_c_s, quasar_t_dev_c_l]

quasar_t_dev_dfs = pd.concat(quasar_t_dev_dfs, ignore_index=False)

In [47]:
quasar_t_dev_c_l.head()

                                            contexts       uid
0  [[19.01995, Another name for tetanus is lockja...   s3q1674
1  [[11.920193, A pungent vegetable is the nation...  s3q18157
2  [[11.341947, In 1963 , the category was split ...   s3q6589
3  [[16.642262, Otis redding : a who2 profile oti...  s3q22477
4  [[9.247021, This was the Herod who was ruling ...  s3q17645

In [46]:
quasar_t_dev_dfs.head()

,answer,question,uid,tags,contexts
0,tetanus,Lockjaw is another name for which disease,s3q1674,"[1tok, yes-answer-long, yes-answer-short]",NaN
1,leek,Which vegetable is a Welsh emblem ?,s3q18157,[1tok],NaN
2,the guns of naverone,Which film won the best special effects Oscar ...,s3q6589,[],NaN
3,sitting on the dock of a bay,What Was Otis Redding 's Biggest Hit Coming Af...,s3q22477,[],NaN
4,king herod,Who ordered John the Baptists execution,s3q17645,"[yes-answer-long, yes-answer-short]",NaN