# IR Dataset (Quasar-t and Quasar-s) Preparation and Preprocessing

_____________CREDIT FOR DATASET_______________

@article {dhingra2017quasar,
  title={Quasar: Datasets for Question Answering by Search and Reading},
  author={Dhingra, Bhuwan and Mazaitis, Kathryn and Cohen, William W},
  journal={arXiv preprint arXiv:1707.03904},
  year={2017}
}

## Importing Pandas and Numpy for basic preprocessing, cleaning, and pickling

In [1]:
import pandas as pd
import numpy as np
import json
import csv

## Data Preparation

 ### Quasar-t dataset is comprised of questions and answer pairs from popular trivia websites with context retrieved through various wiki articles

In [2]:
quasar_t_train = ['train_questions_qt.json', 'train_contexts_qt_short.json', 'train_contexts_qt_long.json']
quasar_t_dev = ['dev_questions_qt.json', 'dev_contexts_qt_short.json', 'dev_contexts_qt_long.json']
quasar_t_test = ['test_questions_qt.json', 'test_contexts_qt_short.json', 'test_contexts_qt_long.json']

### Creating Dataframes from JSON files for Train, Dev, and Test sets accordingly

Using a JSON Reader object and then iterating through the chunked files and appending them to a list and then concatinating them together to create a unified dataframe

In [3]:
def json_to_df_chunker(file):
    chunk_value = 6000
    temp_dfs = []
    temp_dfs_2 = pd.read_json(file, typ = 'frame', dtype = 'dict', lines=True, chunksize=chunk_value)
    for chunk in temp_dfs_2:
        temp_dfs.append(chunk)
    df_to_return = pd.concat(temp_dfs, ignore_index=True)
    return df_to_return

Shruthi, our TA, helped us with this code, as we were stuck and confused with the "squashed" columns in the JSON file. The workaround was to dump the JSON data into a CSV and then manipulate the file with the csv module. subsequently using the cleaned csv as the input to a pd dataframe.

In [4]:
def json_to_df_contexts(file, save_file):
    f = open(file, "r")
    lines = f.readlines()
    row = []
    with open(f'{save_file}.csv', mode='w') as write_file:
        write_csv = csv.writer(write_file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
        write_csv.writerow(['uid', 'score', 'context'])
        for line in lines:
            row = []
            data = json.loads(line)
            context = list(data['contexts'])
            uid = data['uid']
            for c in context:
                row = []
                list_c = list(c)
                row.append(uid)
                row.append(list_c[0])
                row.append(list_c[1])
                write_csv.writerow(row)

In [5]:
save_file = "qt_context_long"
qt_context_long = json_to_df_contexts(quasar_t_train[2], save_file)

In [6]:
qt_train_context_long = pd.read_csv('qt_context_long.csv')

In [7]:
qt_train_context_long.head(25)

         uid      score                                            context
0    s3q8053   5.811907  Backgammon FAQ : Different Ways of Playing Bac...
1    s3q8053   5.488704  Backgammon Rules - How to Play Backgammon Navi...
2    s3q8053   5.472953  Backgammon Rules Backgammon Backgammon Home Ba...
3    s3q8053   5.097101  Backgammon FAQ Home Backgammon Articles Backga...
4    s3q8053   4.011511  The Rules of How to Play Backgammon Back to 1o...
5    s3q8053   3.888346  Best Backgammon Opening Moves Backgammon Backg...
6    s3q8053   3.673027  Backgammon rules < a href = `` http://www.back...
7    s3q8053   3.448444  Backgammon Rules . How to play Backgammon Onli...
8    s3q8053   3.365050  Special Backgammon Top Backgammon Sites Site O...
9    s3q8053   3.346089  Buy backgammon sets and backgammon boards at t...
10   s3q8053   3.282211  Dutch Backgammon Main Page Rules Variants Web ...
11   s3q8053   3.282211  Blocking Backgammon Main Page Rules Variants W...
12   s3q8053   3.270964  How to Set Up a Backgammon Board Search Board ...
13   s3q8053   3.240176  How to Play Online Backgammon at BackgammonMas...
14   s3q8053   3.237795  Backgammon : Online Guide to Popular Backgammo...
15   s3q8053   3.208001  Backgammon : How to Play the Opening Rolls Bac...
16   s3q8053   3.179740  Backgammon Gambling The Name of the Game Home ...
17   s3q8053   3.122935  Bambooweb : Backgammon Backgammon Backgammon i...
18   s3q8053   3.080526  play online backgammon play online multiplayer...
19   s3q8053   3.079317  Chemistry - Backgammon Periodic Table - standa...
20  s3q33199  10.402286  Sherlockian.Net : The View Halloa Sherlockian....
21  s3q33199   9.295906  1-language . com - ESL Online Literature Libra...
22  s3q33199   8.567137  The Chronicles of Sir Arthur Conan Doyle - Quo...
23  s3q33199   7.953532  HOUNDS-L Introduces the Sherlock Holmes Storie...
24  s3q33199   7.953532  Sherlock Holmes The Baker Street Connection A ...

In [8]:
qt_train_context_long.iloc[0][2]

'Backgammon FAQ : Different Ways of Playing Backgammon FAQ Different Ways of Playing Tables and Backgammon What is tables ? How is backgammon different from the other games of tables ? Does backgammon have official rules ? Backgammon Variants What is Nackgammon ? What is hyper-backgammon ? What is long-gammon ? What is roll-over ? What is backgammon-to-lose ? Acey-Deucey What is acey-deucey ? How do you play American acey-deucey ? How do you play European acey-deucey ? Greek Backgammon What is tavli ? How do you play portes ? How do you play plakoto ? How do you play fevga ? Other Games What is trictrac ? What is Russian backgammon ? What is French backgammon ? What is Dutch backgammon ? What is snake ? Forms of Competition What is money play ? What is match play ? What is a freeze-out match ? What is duplicate backgammon ? Table Stakes What is table stakes betting ? Why is table stakes used ? How does strategy in table stakes differ from unlimited money play ? Chouette What is a chouette ? What is a multiple-cube chouette ? When is consulting allowed ? What are extras ? Tables and Backgammon Q : What is tables ? Tables is the general term for any game played on a backgammon board . Actually , it is bit presumptuous of us to even call it a backgammon board , since backgammon is only 400 years old and some of the other games of tables are thousands of years old . Most tables games have the following features : The board consists of 24 spaces or points . Each player has 15 pieces or checkers to move around the board . The checkers are moved according to the numbers rolled on a set of dice . Usually two or three dice are rolled together . Q : How is backgammon different from the other games of tables ? There are three features that distinguish backgammon from other games : Starting position . Each player starts with 2 checkers on their respective 24-points , 5 checkers on their mid-points , 3 checkers on their 8-points , and 5 checkers on their six-points . Doubles played twice . When you roll doubles , you play each'

### Sweet! love to see that. Now that its all cleaned up and we have the context corpus genuinely isolated for quasar-t, we can go ahead and pickle them to distribute to teammates for our own exprimentation with NLP preprocessing

In [9]:
qt_train_questions = json_to_df_chunker(quasar_t_train[0])

In [10]:
qt_train_questions.tail()

,answer,question,uid,tags
37007,ohio,Hang On Sloopy ' was the official rock song of...,s3q30425,"[1tok, yes-answer-long, yes-answer-short]"
37008,a commodore pet,Name the first self contained home computer -,s3q30420,[]
37009,ku klux klan,This racist organisation was formed in Tenness...,s3q30421,"[yes-answer-long, yes-answer-short]"
37010,wyoming usa,Where is the Devil 's Tower,s3q30422,[yes-answer-long]
37011,iran,In What Country Did The Rather Prestigious Spo...,s3q30423,"[1tok, yes-answer-long, yes-answer-short]"

In [11]:
qt_train_questions.iloc[2][1]

'Which Scottish Golfer Was Captain Of Europes 2002 Ryder Cup Team'

In [12]:
qt_train_questions.head()

,answer,question,uid,tags
0,24,How many points does a backgammon board have,s3q8053,"[1tok, yes-answer-long, yes-answer-short]"
1,sherlock holmes,Whose cases were Empty House Copper Beeches Bl...,s3q33199,"[yes-answer-long, yes-answer-short]"
2,sam torrance,Which Scottish Golfer Was Captain Of Europes 2...,s3q33198,[]
3,first quarter,What is a two-bit moon,s3q33194,"[yes-answer-long, yes-answer-short]"
4,nissan,The `` Maxima '' was a model of which car,s3q33197,"[1tok, yes-answer-long, yes-answer-short]"

In [13]:
#qt_train_questions.to_pickle("qt_train_questions.pickle")

In [ ]:
#qt_train_q_2 = pd.read_pickle("qt_train_questions.pickle")

In [15]:
#qt_train_q_2.tail()

,answer,question,uid,tags
37007,ohio,Hang On Sloopy ' was the official rock song of...,s3q30425,"[1tok, yes-answer-long, yes-answer-short]"
37008,a commodore pet,Name the first self contained home computer -,s3q30420,[]
37009,ku klux klan,This racist organisation was formed in Tenness...,s3q30421,"[yes-answer-long, yes-answer-short]"
37010,wyoming usa,Where is the Devil 's Tower,s3q30422,[yes-answer-long]
37011,iran,In What Country Did The Rather Prestigious Spo...,s3q30423,"[1tok, yes-answer-long, yes-answer-short]"

In [ ]:
quasar_t_train = ['train_questions_qt.json', 'train_contexts_qt_short.json', 'train_contexts_qt_long.json']
quasar_t_dev = ['dev_questions_qt.json', 'dev_contexts_qt_short.json', 'dev_contexts_qt_long.json']
quasar_t_test = ['test_questions_qt.json', 'test_contexts_qt_short.json', 'test_contexts_qt_long.json']

In [9]:
qt_train_context_long.to_pickle('qt_train_context_long.pickle')

In [36]:
qt_dev_questions = json_to_df_chunker(quasar_t_dev[0])
qt_test_questions = json_to_df_chunker(quasar_t_test[0])
qt_dev_questions.to_pickle("qt_dev_questions.pickle")
qt_test_questions.to_pickle("qt_test_questions.pickle")

In [11]:
#save_file = 'qt_t_context_short'
#qt_t_context_short = json_to_df_contexts(quasar_t_train[1], save_file)
qt_train_context_short = pd.read_csv('qt_t_context_short.csv')
qt_train_context_short.to_pickle('qt_train_context_short.pickle')

In [13]:
#save_file = "qt_dev_context_short"
#qt_context_long = json_to_df_contexts(quasar_t_dev[1], save_file)
qt_dev_context_long = pd.read_csv('qt_d_context_short.csv')
qt_dev_context_long.to_pickle('qt_dev_context_short.pickle')

In [14]:
save_file = "qt_dev_context_long"
qt_context_long = json_to_df_contexts(quasar_t_dev[2], save_file)
qt_dev_context_long = pd.read_csv('qt_dev_context_long.csv')
qt_dev_context_long.to_pickle('qt_dev_context_long.pickle')

In [15]:
save_file = "qt_test_context_short"
qt_context_long = json_to_df_contexts(quasar_t_test[1], save_file)
qt_test_context_long = pd.read_csv('qt_test_context_short.csv')
qt_test_context_long.to_pickle('qt_test_context_short.pickle')

In [16]:
save_file = "qt_test_context_long"
qt_context_long = json_to_df_contexts(quasar_t_test[2], save_file)
qt_test_context_long = pd.read_csv('qt_test_context_long.csv')
qt_test_context_long.to_pickle('qt_test_context_long.pickle')

In [18]:
df = pd.read_pickle("qt_dev_context_long.pickle")
df.head()

       uid     score                                            context
0  s3q1674  5.322954  Tripedia Information - Drugs and Treatments - ...
1  s3q1674  5.322954  Acel-Imune Information - Drugs and Treatments ...
2  s3q1674  4.139742  DHPE Home Tetanus Tetanus -LSB- TET-nus -RSB- ...
3  s3q1674  4.139742  Tetanus Tetanus Tetanus -LSB- TET-nus -RSB- is...
4  s3q1674  3.880914  Tetanus KidsHealth > Parents > Infections > Ba...

In [19]:
df_1 = pd.read_pickle("qt_dev_questions.pickle")
df_1.head()

,answer,question,uid,tags
0,tetanus,Lockjaw is another name for which disease,s3q1674,"[1tok, yes-answer-long, yes-answer-short]"
1,leek,Which vegetable is a Welsh emblem ?,s3q18157,[1tok]
2,the guns of naverone,Which film won the best special effects Oscar ...,s3q6589,[]
3,sitting on the dock of a bay,What Was Otis Redding 's Biggest Hit Coming Af...,s3q22477,[]
4,king herod,Who ordered John the Baptists execution,s3q17645,"[yes-answer-long, yes-answer-short]"

## Sweet, everything is looking good, going to send these out to the team and begin working on expirimenting with different NLP preprocessing techniques